# macOS system files
.DS_Store
**/.DS_Store

.DS_Store
**/.DS_Store

cache/
*.h5ad

# folders
no_build/

# pycharm files
.idea/

# Word files:
coding for website.docx
website_projects_demands.docx
RESTful_api_testing.docx

# don't store pycache
__pycache__/

# images
logo.jpg
pyvenv.png
