# macOS system files
.DS_Store
**/.DS_Store

.DS_Store
**/.DS_Store

cache/
*.h5ad

# Word files:
coding for website.docx
website_projects_demands.docx

# don't store pycache
__pycache__/

# logo
logo.jpg
